html:not(.ismobile) .loader .preloader { /*page-loader is original class, I cannot use it because there is window.load event which will hide loader after page is loaded, TODO: add task to JIRA to add class to the main theme*/
	width: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -55px;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 3000ms;
	animation-duration: 3000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

html:not(.ismobile) .loader .preloader p { /*page-loader is original class, I cannot use it because there is window.load event which will hide loader after page is loaded, TODO: add task to JIRA to add class to the main theme*/
	white-space: nowrap;
	position: relative;
	left: -9px;
	top: 22px;
	color: #CCC;
}
.preloader.pls-egress-orange .plc-path {
    stroke: #f63;
}



.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;
}
.preloader:not([class*="pl-"]) {
  width: 40px;
}
.preloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.preloader.pl-xs {
  width: 20px;
}
.preloader.pl-sm {
  width: 30px;
}
.preloader.pl-lg {
  width: 50px;
}
.preloader.pl-xl {
  width: 80px;
}
.preloader.pl-xxl {
  width: 100px;
}
.preloader:not([class*="pls-"]) .plc-path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}
.preloader[class*="pls-"] .plc-path {
  animation: dash 1.5s ease-in-out infinite;
}
.preloader.pls-red .plc-path {
  stroke: #f44336;
}
.preloader.pls-blue .plc-path {
  stroke: #2196f3;
}
.preloader.pls-green .plc-path {
  stroke: #4caf50;
}
.preloader.pls-yellow .plc-path {
  stroke: #ffeb3b;
}
.preloader.pls-bluegray .plc-path {
  stroke: #607d8b;
}
.preloader.pls-amber .plc-path {
  stroke: #ffc107;
}
.preloader.pls-teal .plc-path {
  stroke: #009688;
}
.preloader.pls-gray .plc-path {
  stroke: #9e9e9e;
}
.preloader.pls-pink .plc-path {
  stroke: #e91e63;
}
.preloader.pls-purple .plc-path {
  stroke: #9c27b0;
}
.preloader.pls-white .plc-path {
  stroke: #fff;
}
.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.plc-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196f3;
  }
  66% {
    stroke: #4caf50;
  }
  80%,
  90% {
    stroke: #ffc107;
  }
}